body {
    margin: 0;
}

.legend-container {
    height: 100vh;
    padding-right: 30px;
}

.legend-row {
    margin: 1em 0;
}

.legend-text {
    line-height: 32px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
    background-color: #f5f5f5;
    margin: 0 -30px !important;
}

.footer-container {
    line-height: 3em;
    text-align: center;
}