<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://maps.googleapis.com/maps/api/js?key={{htmlWebpackPlugin.options.googleApiKey}}" type="text/javascript"></script>
    <title>To Have and To Hike</title>
</head>
<body>
    <div id="app"></div>
</body>
</html>